body {
    font-family: arial;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.5;
}

.columna {
    text-align: right;
    font-size: 1.1em;
}

.negra {
    font-weight: bold;
}

.abajo {
    vertical-align: sub;
}

.arriba {
    vertical-align: super;
}

h3 {
    font-size: 1.3em;
}

#recibe {
    font-size: 1.1em;
}
